<%= form_for(crop) do |f| %>
  <% if crop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crop.errors.count, "error") %> prohibited this crop from being saved:</h2>

      <ul>
      <% crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.text_field :name, placeholder: "Name of Crop", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_field :amount, placeholder: "Amount in lb you are selling", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.text_field :cost, placeholder: "Cost per lb", class: "form-control" %>
    </div>

    <div class="form-check">
      <label class="form-check-label">
       
         Delivered: <%= f.check_box  :b_delivered, class: "form-check-input" %>
      </label>
    </div>

    <div class="form-group">
      <%= f.text_field :link_to_crop_image, placeholder: "Image of Crop URL", class: "form-control" %>
    </div>


    


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
