	

	<p id="notice"><%= notice %></p>

<div class="containerFarmer"> </div>

	<div class="container-listings">
		<div id="header-listings">
			<b><div id="displayInListing"> <%= @crop.name %> </div></b>
		</div>
		<p> </p>
		<p>
		  <strong>Amount:</strong>
		  <%= @crop.amount %>
		</p>

		<p>
		  <strong>Cost:</strong>
		  <%= @crop.cost %>
		</p>
		<div class="my-listings">
				<%= link_to 'Edit', edit_crop_path(@crop) %> |
				<%= link_to 'Back', static_dashboard_path %>
		</div>
	</div>
</div>
