

<div class = "containerDash">
	<div class="boxes-set-position centered">
		<% @cropsAll.each_slice(2) do |spliced_crops| %> 
			<div class="row center-block">	
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>

				<%= form_tag charges_path, id: 'chargeForm' do %>
						<% spliced_crops.each do |f| %>
							<div class="box-of-produce col-md-3">
									<h1><%= f.name %> </h1>
									<h3>Amount: <%= f.amount %> </h3>
									<h3>Price per crop: $<%= f.cost %> </h3>
									<h3> Total cost: $<%= f.total %> </h3>

									<%= button_to "More About the Farmer", user_path(f.user), method: :get, class: "btn btn-danger btn-lg", id: "btn-inline1" %>
									
									<!-- <button type="submit" class="btn btn-success btn-lg" id="btn-inline2">Buy</button> -->
									

									<script src="https://checkout.stripe.com/checkout.js"></script>
									<%= hidden_field_tag 'stripeToken' %>
  								<%= hidden_field_tag 'stripeEmail' %>
  								<%= hidden_field_tag 'stripeAmount' %>

							
										<button id="<%= "btn_#{f.id}" %>" class="btn btn-success btn-lg btn-inline2"> Buy </button>
								

									<script>
										var <%= "handler_#{f.id}" %> = StripeCheckout.configure({
										  key: 'pk_test_M1nfaHjQBuENTABnjwikaHMB',
										  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
										  locale: 'auto',
										  token: function(token) {
										    // You can access the token ID with `token.id`.
										    // Get the token ID to your server-side code for use.

										    document.getElementById("stripeToken").value = token.id;
								        document.getElementById("stripeEmail").value = token.email;
								        document.getElementById("stripeAmount").value = <%= f.total * 50 %>;


								        document.getElementById("chargeForm").submit();


								    
							
										  }
										});

										document.getElementById('<%= "btn_#{f.id}" %>').addEventListener('click', function(e) {
										  // Open Checkout with further options:
										  
										  <%= "handler_#{f.id}" %>.open({
										    name: 'Demo Site',
										    description: '2 widgets',
										    amount: <%= f.total * 100 %>
										  });
										  e.preventDefault();
										});

										// Close Checkout on page navigation:
										window.addEventListener('popstate', function() {
										  handler.close();
										});
									</script>

							</div><!-- end div under spliced_crops -->
					<% end %><!-- end spliced_crops -->
				<% end %> <!-- end stripe form_tag -->

					<div class="col-xs-1"></div>
					<div class="col-xs-1"></div>
					<div class="col-xs-1"></div>

			</div>			
		<% end %><!-- end cropsAll.each_slice -->
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Success</h4>
      </div>
      <div class="modal-body">
       You've purchased the crop. We'll update you when it's sent to the food bank.
      </div>
      <div class="modal-footer">
     
        
      </div>
    </div>
  </div>
</div>

