

<body class="body">
  <div class="container w-container">
    <div class="section">
      <div class="action-needed stats-block">
        <h1 class="heading-4">Action Needed</h1>
        <p class="paragraph-6">33</p>
      </div>
      <div class="current_balance stats-block">
        <h1 class="heading-4">Total Crops Shipped</h1>
        <p class="paragraph-6">10</p>
      </div>
      <div class="stats-block total">
        <h1 class="heading-4">Balance</h1>
        <p class="paragraph-6">$400,000</p>
      </div>
    </div>
    <div class="div-block-9 w-clearfix">
      <h4 class="heading-5">Your crops</h4>
 			<%= link_to "Create Listing", new_crop_path, id: "displayInCreateListing", class: "link-color" %> 

		
		<% @cropsFarmer.each do |f| %>
		

      <div class="div-block-10"></div>
      <div class="div-block-17"></div>
      <p class="paragraph-7"><b><%= f.name %></b>
        <br>Amount: <%= f.amount %>
        <br>Cost per lb: $<%= f.cost %></p>
      <div class="text-block"><%= link_to '', edit_crop_path(f), class: "link-color glyphicon glyphicon-pencil" %> &nbsp;&nbsp; &nbsp; <%= link_to '', edit_crop_path(f), class: "link-color glyphicon glyphicon-barcode" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', f, method: :delete, data: { confirm: 'Are you sure?' }, class: "link-color glyphicon glyphicon-trash" %></div>
      <div class="div-block-12"></div>
    
    <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

