<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

       
        <!-- Website CSS style -->

        <title>MegaMenu Design</title>
    </head>
    <body class="signInPage">
        <div class="container">
        
        <div class="col-sm-8 col-sm-offset-2 main">
        <div class="col-sm-6 left-side">
        <h1>Help<br>Reduce Waste.</h1>
        <p>Whether you are a donator or farmer, you can take part in reducing waste around the world.</p>
        <br>
        </div><!--col-sm-6-->
        <div class="col-sm-6 right-side">
        <h1>Login</h1>
        
<!--Form with header-->
<div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control", required: false %>
        </div>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: false %>
        </div>
        <div class="checkbox">
            <label>
                <%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
            </label>
        </div>
        <div class="text-xs-center">
            <%= f.submit "Login", class: "btn btn-deep-purple" %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
</div>
<!--/Form with header-->
        </div><!--col-sm-6-->
        </div><!--col-sm-8-->
        </div><!--container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    </body>
</html>


