<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Undesired", root_path, class: "navbar-brand" %>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if current_page? (root_path) %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right ">    
          <li class=><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link w-nav-link" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, class: "nav-link w-nav-link" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <% end %>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <% if @user.isFarmer? %>
                <li><%= link_to 'Account', edit_user_registration_path %></li>  
              <% end %>
              
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li> </li>
          </ul>
      </div>
    <% end %>

    
  </div><!-- /.container-fluid -->
</nav>


