<!DOCTYPE html>
<html>
  <head>
    <title>Undesired</title>
    <%= csrf_meta_tags %>
		
		<!-- css source files -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>



    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(:partial => '/layouts/nav')%>

    <!-- Flash notices -->
    <!-- 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->
    
    <!-- Main content -->
    <%= yield %>
  </body>
</html>
